
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width:25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width:83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100;}
/* nabar start*/
.navlogo{
   text-align:left;
   
}
.logo{
    height: 200px;
    width:200px;
    border-radius: 50%;
    padding: 10px;
}
.navheading h1{
    text-align: right;
    margin-right: 40px;
   
}
.navbarmenu{
   
    flex-direction: row;
    justify-content: flex-end;
   
   /* padding: 5px 10px;*/
}
.navbarmenu a{
    padding: 10px 10px;
    margin: 3px 8px;
   /* background-color: black;*/
}
/*nabar ends*/
/*profile design start*/
.profile .topicon{
    position: absolute;
    right:100px;
    width: 120px;
    transition : width 2s, transform 2s;
    
    }
    .profile .topicon:hover{
       width: 150px;
        
        }
.description p{
            color: aqua;
           
            text-align: center;
            width: 90%;
            margin-bottom: 10px;
        }
.profile .bottomicon{
            position: absolute;
            left:100px;
            bottom:5px;
            width: 120px;
            transition : width 2s, transform 2s;
            
            }
.profile .bottomicon:hover{
               width: 150px;
                
                }


/*profile design end*/
/* aboutme start */
.aboutmeimage{
    margin-top:100px;
}
.aboutmedescription p{
    text-align: left;
}
/* about me end */

/* skill start */
.experience{
    padding:10px;
}

/* skill end */
/* contact and social media start */

/*.messageme p{
   padding-left: 15px;
   padding-right: 10px;
}/*
/* contact and social media end */
/* competitive programming start */
.problemsolving{
    display: block;
   
  
}
.problemsolving h3{
    margin:auto;
    width: 100%;
    font-size: 1.1rem;
}
.codeforces{
    margin: 20px;
 
    
}
.codechef{
    margin: 20px;
   
}
.atcoderr{
    margin: 20px;
   
}
.leetcode{
    margin: 20px;
    
}
.toph{
    margin: 20px;
   
}
.virtual{
    margin: 20px;
   
}
/* achievement start */

.hackercup,.iee14,.iee15,.icpc,.luintra{
   
   background-color: aqua;
   width: 32%;
   margin-top: 15px;
   margin-left: 14px;
   padding: 15px;

}
.iee14 .bt,.iee15 .bt{
    margin-top: 27px;
}
.A{
    text-align: center;
}
.luintra .bt{
   margin-top: 65px;
}

/* achievement end */

/* competitive programming end */
/* foot start */
.footmenu{
    margin-top: 40px;
}
.footmenu a{
    display: inline;
    padding: 10px;
    margin: 1px;
    text-align: center;
}
.footdes{
    margin-bottom: 40px;
    text-align: center;
}
.footdes h3,h5{
    margin-bottom: 20px;
}

/* foot end */